* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: Montserrat Alternates, Roboto, sans-serif;
}

body {
  font-family: Montserrat Alternates, Roboto, sans-serif;
  font-size: 100%;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}
